@media only screen and (max-width:830px){
    .menu{
        display: none;
    }
    .bars{
        display: block;
    }
    .aboutUsContainer{
        display: block;
    }
    .aboutUsTitle{
        width: 100%;
  
        padding: 5rem;
        justify-content: center;
    }
    .aboutUsText{
        width: 100%;
    }
    .contactUsContainer{
        display: block;
    }
    .contactUsImg{
        width: 100%;
    }
    .contactForm{
        width: 100%;
    }
}
@media only screen and (max-width:800px){
    .headerDescription h1{
        font-size: 2rem;
    }
    .introductionContainer{
        display: block;
    }
    .introductionContainerImage{
        width: 100%;
        padding-right: 0rem;
    }
    .introductionContainerDescription{
        width: 100%;
        padding-left: 0rem;
        margin-top: 2rem;
    }
    .aboutUsTitle h1{
        font-size: 2rem;
    }
    .ourServices h1{
        font-size: 2rem;
    }.mainParaOurServices{
        width: 80%;
    }
}
@media only screen and (max-width:650px){
    .navBar{
        padding: 1rem 3rem;
    }
    .headerDescription{
        padding:10rem 3rem 5rem 3rem;
    }
    .introductionContainer{
        padding: 3rem;
    }
    .nosplans{
    padding:3rem; 
}
    .aboutUsTitle{
        padding: 3rem;
    }
    .aboutUsText{
        padding: 3rem;
    }
    .ourServices{
        padding: 3rem;
    }
    .mainParaOurServices{
        width: 100%;
    }
    .contactUs{padding: 3rem;}
    
    .footercontainerUp{
        padding: 3rem;
    }
}
@media only screen and (max-width:550px){
     .navBar{
        padding: 1rem 2rem;
    }
    .headerDescription{
        padding:10rem 2rem 5rem 2rem;
    }
    .introductionContainer{
        padding: 2rem;
    }
    .nosplans{
    padding:2rem; 
}
    .aboutUsTitle{
        padding: 2rem;
    }
    .aboutUsText{
        padding: 2rem;
    }
    .ourServices{
        padding: 2rem;
    }
    .mainParaOurServices{
        width: 100%;
    }
    .serviceItem{
    padding: 1rem;
    
}
    .contactUs{padding: 2rem;}
     .footercontainerUp{
        padding: 2rem;
       
    }
    .aboutUsTitle h1{
        font-size: 1.7rem;
    }
    .ourServices h1{
        font-size: 1.7rem;
    }
    .contactForm{
    
    padding:2rem 1rem;
}
}
/*@media only screen and (max-width:1050px){
    .menu{
        display: none;
    }
    .bars{
        display: block;
    }
}
@media only screen and (max-width:830px){
   
    .aproposContainer{
        display: block;
    }
   
    .aproposContainerImage{
        width: 100%;
        padding-right:0rem ;
    }
    .aproposContainerDescription{
        width: 100%;
        padding-left: 0rem;
        margin-top: 2rem;
    }
    .contactContainer{
        display: block;
    }
    .contactContainerDescription{
        width: 100%;
        padding-right: 0rem;
    }
    .contactContainerForm{
        width: 100%;
        padding-left: 0rem;
        margin-top: 2rem;
    }
    .planImages{
        display: grid;
        grid-template-columns: repeat(2,1fr);
       
    }
    .plan2{grid-column: 2 / 3}
    .plan3{grid-column: 1 / 2}
}
@media only screen and (max-width:800px){
    h2{
        font-size: 1.5rem;
    }
    .navBar{
        padding:1rem 3rem ;
    }
    .mainDescriptionCover h1{
        font-size: 2rem;
    }
    .mainDescriptionCover{
        padding:5rem 3rem;
    }
    .aproposContainer{
        padding: 3rem;
    }
    .nosServicesContainer{ padding: 3rem;}
    .contactContainer{
        padding: 3rem;
    }
    .plans{
        padding: 3rem;
    }
}
@media only screen and (max-width:650px){
    .navBar{
        padding:1rem 2rem ;
    }
    .mainDescriptionCover{
        padding:5rem 2rem;
    }
    .aproposContainer{
        padding: 2rem;
    }
    .nosServicesContainer{ padding: 2rem;}
    .contactContainer{
        padding: 2rem;
    }
    .plans{
        padding: 2rem;
    }
    .planImages{
        display: block;
       
    }
    .planItem{
        margin-top: 2rem;
    }
    .plansDescriptions p{
        width: 100%;
    }
}*/
